:root {
    --main-color: #5b0a2d;
  }
  

body {
    box-sizing: border-box;
}

@media (min-width: 2560px) {
    body {
        font-size: 35px;
    }

    .section__text > p {
        font-size: 40px;
    }
} 
.section {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.sideA {
    width: 100%;
}

.section__text > h1 {
    margin: 0;
}

.call-to-action {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 25vw;
    min-width: 250px;
    height: 6vh;


    background: #fdfdfd;
    border-radius: 40px;
    -webkit-box-shadow: 4px 9px 30px -11px rgba(0,0,0,0.33);
    -moz-box-shadow: 4px 9px 30px -11px rgba(0,0,0,0.33);
    box-shadow: 4px 9px 30px -11px rgba(0,0,0,0.33);

    
    position: absolute;
    left: 30vw;
    bottom: 10vh;

}

.call-to-action__text {
    color: #000000;
    margin: 10px 0 10px 20px;
}

#call-to-action__img {
    height: 6vh;
}


.sideB {
    min-width: 60vw;
}

.header {

    width: 25vw;
    margin-left: 8vw;
    height: fit-content;
}

.header__logo {

    width: 100%;
    height: 100%;
    
}


#header__logo__img {
    margin-top: 7vh;
    width: 100%;
}

.section__text {
    margin-top: 5vh;
    width: 25vw;
    margin-left: 10vw;
    height: fit-content;
    
}

#section__picture__img {

    width: 100%;
}

.containerA3  {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}


.sectionTextA3 img{
    float: right;
    width: 100%;
}


.imagemA3 {
    width: 100%;
    height: auto;
}

.containerA2  {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


.sectionTextA2 img{
    float: left;

    width: 100%;
}

.footer {
    display: flex;

    height: 100vh;
    width: 100%;

    
}

.footer__picture {
    width: 100%;
} 

#footer__picture__img {
    width: 100%;
}
    

.imagemA2 {
    width: 100%;
    height: auto;
}

  .headerA2 {
    font-size: 50px;
    font-family: Circular Std;
    font-weight: bold;
    color: #56000D;
}

  .headerA3 {
    font-size: 50px;
    font-family: Circular Std;
    font-weight: bold;
    color: #56000D;
}

  .textA2 {
    font-size: 24px;
    font-family: Circular Std;
    font-weight: bold;
    color: #000000;
}

  .textA3 {
    font-size: 24px;
    font-family: Circular Std;
    font-weight: bold;
    color: #000000;
}

  body {
  opacity: 1;
  transition: 0.7s opacity;
}

  .fade {
  opacity: 0;
  transition: none;
}


/* início do CSS do form */

#dark-field {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.33);
    position: fixed;
    top: 0;
    z-index: 10;
}
.show-form{
    display: flex!important;
}
.contact-form {
    
    margin: auto;
    
    display: none;
    flex-direction: column;
    
    width: 30vw;
    min-width: 200px;
    
    
    height: fit-content;
    background-color: white;

    border-radius: 7px;
    
    transition-property: all;
    transition-duration: 1s;

    
    position: absolute;
    bottom: 20vh;
    left: 50vw;

    z-index: 20;
  }
  
  .contact-form__header {
    background-color: var(--main-color);
    background-image: linear-gradient(var(--main-color), #A71253);
    border-radius: 7px 7px 0 0;
    
  }
  
  .contact-form__title {
    margin: 0;
    margin-top: 13px;
    margin-left: 30px;
    font-size: 16px;
    color: #fafafa;
  }
  
  .contact-form__header > p {
    margin: 0;
    margin-bottom: 10px;
    margin-left: 30px;
    color: #fafafa;
    
  }
  
  .contact-form__field {
    display: flex;
    flex-direction: column;
    margin: 10px 30px 10px 30px;
  } 
  
  .contact-form__field > input  {
    height: 35px;
    border-radius: 7px;
    background-image: linear-gradient(to right, #fff, #f2f2f2);
    border: 0;
  } 

  .contact-form__field > label  {

    color: #6b6b6b;
  
  } 
  
  
  .contact-form__button {
    display: flex;
    width: 100%;
   
  }

  .contact-form__button > button {
    margin: 10px 30px 15px auto;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 7px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
  }

  .contact-form__button > button:hover {
    margin: 10px 30px 15px auto;
    background-color: transparent;
    border: 1px solid var(--main-color);
    border-radius: 7px;
    color: var(--main-color);
    font-weight: bold;
    padding: 5px 10px;
  }


/* fim do CSS do form */

