<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<style>
body {
    background-color: white;
}
</style>
</head>

<body>
  <section class="containerA2">
      
    <div class="ilustrationA2">
      <img src="/assets/Group 4.png" alt="Principal" class="imagemA2" />
    </div>

    <div class="sectionTextA2">
      <img src="assets/Group 21.png" alt="IconeA2" />
      <h1 style="font-size: 50px; font-family: Circular Std; font-weight: bold; color: #56000D; ">COMPRE ONLINE</h1>
    </div>
  
      <p1 style="font-size: 24px; font-family: Circular Std; font-weight: book; color: #000000; ">Lorem ipsum nulla curabitur aliquet sit per erat consectetur tellus, adipiscing potenti molestie himenaeos</p1>
  
  </section>
  
</body>
</html>

