<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<style>
body {
    background-color: white;
}
</style>
</head>

<body>
  <section class="containerA2">
      
    <div class="ilustrationA2">
      <img src="/assets/Group 4.png" alt="Principal" class="imagemA2" />
    </div>

    <div class="sectionTextA2">
      <img src="assets/Group 21.png" alt="IconeA2" />
      <h1 class="headerA2">COMPRE ONLINE</h1>
    </div>
  
      <p1 class="textA2">Lorem ipsum nulla curabitur aliquet sit per erat consectetur tellus, adipiscing potenti molestie himenaeos</p1>
  
  </section>
  
  <section class="containerA3">
      
    <div class="ilustrationA3">
      <img src="/assets/Group 2.png" alt="PrincipalA3" class="imagemA3" />
    </div>

    <div class="sectionTextA3">
      <img src="assets/Group 22.png" alt="IconeA3" />
      <h1 class="headerA3">PICK UP</h1>
    </div>
  
      <p1 class="textA3">Lorem ipsum nulla curabitur aliquet sit per erat consectetur tellus, adipiscing potenti molestie himenaeos</p1>
  
  </section>
  
  
</body>
</html>

