{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gowdock - Estamos Chegando</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href='{% static "css/normalize.css" %}' />
    <link rel="stylesheet" type="text/css" media="screen" href='{% static "css/main.css" %}' />
    <script src='{% static "js/main.js" %}'></script>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.17/css/uikit.min.css" /  >

</head>

<body>
    <section class="section">
    
        <div class="sideA">
            <header class="header">
                <div class="header__logo">
                    <img id="header__logo__img" src='{% static "assets/Logo.png" %}' />
                </div>
            </header>

            <div class="section__text">
                    <h1>Lorem ipsum. Lorem ipsum</h1>
                    <h1>Lorem ipsum</h1>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Etiam eget ligula eu lectus lobortis condimentum.
                        Aliquam nonummy auctor massa.
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus.
                        Nam mattis, felis ut adipiscing."</p>
            </div>

            <div class="call-to-action" uk-toggle="target: .contact; cls: show-form;  animation: uk-animation-fade" >

                <p class="call-to-action__text">Quer saber mais?</p>
                <img id="call-to-action__img" src='{% static "assets/btn_email.png" %}' /> 

            </div>

            <div class="contact-form contact">
  
                <div class="contact-form__header">
                  <h1 class="contact-form__title"> Deixe seu email. </h1> 
                  <p class="contact-form__desc"> Nós avisaremos quando estiver pronto! </p>     
                </div>
                
                
                <form action="/" method="post"  class="contact-form__content">
                    {% csrf_token %}
                    <div class="contact-form__field">
                        {{ form_email }}
                    </div>
                    <div class="contact-form__button">
                        <button type="submit"> Enviar </button>
                    </div>
                </form>
                
                
              </div>
           
        </div>

        <div class="sideB">
            <div class="section__picture">
                <img id="section__picture__img" src='{% static "assets/ImagemTop.png" %}' />
            </div>
        </div>


       
        
  
      

    </section>

    
    <section class="sectionCommon">

        <div class="imageSide">
            <img src='{% static "/assets/Group 4.png" %}' alt="Principal" uk-scrollspy="cls: uk-animation-slide-left; delay: 200" class="imagemS2" /> 
        </div>

        <div class="textSide">
       
            <div class='title_right'>
                <img src='{% static "assets/Group 21.png" %}' alt="Compra online" />
                <h1 class="headerA2">COMPRE ONLINE</h1>
            </div>
            
            <p class="text__sections">Na <em>Gowdock.com</em>, você escolhe seus produtos de supermercado de forma online. </p>

        </div>
    
    

    
    
    </section>


    <section class="sectionCommon">

        <div class="textSide">
       
            <div class='title_right'>
                <img src='{% static "assets/Group 22.png" %}' alt="Compra online" />
                <h1 class="headerA2">PICK UP</h1>
            </div>
            
            <p class="text__sections">Selecione um intervalo para coletá-los e os adquira em um dos nossos pontos de retirada. </p>

        </div>


        <div class="imageSide" uk-scrollspy="cls: uk-animation-slide-right; delay: 200">
             <img src='{% static "/assets/Group 2.png" %}' alt="PrincipalA3" class="imagemS2" /> 
        </div>
    
    </section>


    <section class="footer">

        <div class="footer__text">
        </div>

        <div class="footer__picture">
            <img id="footer__picture__img" src='{% static "assets/ilustraesteira.png" %}' />
        </div>

    </section>

    <div class="contact" id="dark-field" uk-toggle="target: .contact; cls: show-form;  animation: uk-animation-fade"></div>

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.17/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.17/js/uikit-icons.min.js"></script>

</body>

</html>